{
  "presets": ["es2015", "stage-2"],
   "plugins": [
    "add-module-exports",
    "transform-function-bind",
    "transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
  ]
}